torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

# Install SAM-2 from GitHub (not PyPI)
git+https://github.com/facebookresearch/sam2.git

# XMem (pip)
xmem

# Prompting models
moondream

# Vision tools
supervision
pycocotools
eva-decord

# Transformers + acceleration
transformers
accelerate

# Utilities
polars

ultralytics

pexpect>4.3